/* ------------------------------------Education------------------------------- */

.MainTextEducationParent {
    padding-top: 5%;
    padding-bottom: 5%;
    min-width: 750px;
}

.MainTextEducationTitle {
    margin-top: 10px;
    color: white;
    font-size: 50px;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.MainTextEducationBody {
    padding-top: 10%;
    color: white;
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    position: relative;
}

/* ------------------------------------Education Content------------------------------- */

.MainTextEducationBodyText{
    display: flex;
    flex-direction: column;
    flex:1;
}

.MainTextEducationBodyText span {
    text-align: center;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    margin-bottom: 40px;
    flex: 1;
}

.MainTextEducationBodyTextSubtitle {
    font-weight: bold;
    font-size: 24px;
}

.MainTextEducationBodyTextSubtitle2 {
    font-size: 14px;
    color: #cecece;
}

/* ------------------------------------UFO------------------------------- */

.UFOParent{
    flex: 1;
    position: relative;
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

.UFO {
    max-width: 50%;
    height: auto;
    display: block;
    animation: UFOAnimation 10s infinite alternate ease-in-out;
}

.UFO2 {
    max-width: 50%;
    height: auto;
    display: block;
    animation: UFOAnimation2 10s infinite alternate ease-in-out;
}

/* ------------------------------------Effects------------------------------- */

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@keyframes UFOAnimation {

    0% {
        transform: translate(33%, 36%);
    }
    9% {
        transform: translate(33%, 33%);
    }
    18% {
        transform: translate(0%, -3%);
    }
    27% {
        transform: translate(0%, 0%);
    }
    36% {
        transform: translate(6%, -66%);
    }
    45% {
        transform: translate(6%, -69%);
    }
    54% {
        transform: translate(6%, -66%);
    }
    63% {
        transform: translate(99%, 0%);
    }
    72% {
        transform: translate(99%, -3%);
    }
    81% {
        transform: translate(99%, 0%);
    }
    90% {
        transform: translate(-16%, 9%)
    }
    100% {
        transform: translate(-16%, 6%);
    }
}

@keyframes UFOAnimation2 {
    0% {
        transform: translate(-33%, 66%);
    }
    9% {
        transform: translate(-33%, 63%);
    }
    18% {
        transform: translate(-33%, 66%);
    }
    27% {
        transform: translate(0%, -48%);
    }
    36% {
        transform: translate(0%, -51%);
    }
    45% {
        transform: translate(0%, -48%);
    }
    54% {
        transform: translate(-16%, 22%);
    }
    63% {
        transform: translate(-16%, 25%);
    }
    72% {
        transform: translate(115%, -25%);
    }
    81% {
        transform: translate(115%, -28%);
    }
    90% {
        transform: translate(115%, -25%);
    }
    100% {
        transform: translate(-33%, 69%);
    }
}