/* ------------------------------------Home------------------------------- */

.MainRight {
    background-color: black;
    height: 100%;
    position: fixed;
    color: #969696;
    left: 200px;
    right: 0;
    font-family: 'Courier New';
    z-index: 2;
}