/* ------------------------------------Home------------------------------- */

.main__right {
    background-color: black;
    /* width: 10%; */
    height: 100%;
    position: fixed;
    color: #969696;
    left: 200px;
    right: 0;
    font-family: 'cursive', 'Lucida Handwriting', 'Courier New', sans-serif;
    z-index: 2;
}