/* ------------------------------------Spaceship------------------------------- */

.Spaceship {
  position: absolute;
  z-index: 3;
  transform-origin: top left;
  pointer-events: none;
}

.Spaceship img {
  width: 50px;
  height: auto;
}