/* ------------------------------------Stars------------------------------- */

.Stars__Parent{
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
}